table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 2px solid #30D5C8;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #30D5C8;
  }